* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'helvetica', 'arial', sans-serif;
	text-align: center;

	height: 100vh;
	max-width: 100%;
	font-weight: 700;

	background-image: url("../img/passenger_black.jpeg");
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 100%;
	display: grid;
	place-items: center;
}

.items {
	margin-bottom: 5rem;
	background-color: black;
	color: white;
	width: 100%;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 3rem;
}