* {
	box-sizing: border-box;
}

:root {
	--clr-primary-green: #577D3F;
}

#page-wrap {
	font-family: Arial, Helvetica, sans-serif;
	min-width: calc(400rem / 16);
}

#input-el,
#input-btn,
#delete-btn {
	outline: none;
	border: none;
}

#input-el {
	min-width: 100%;
	padding: calc(10rem / 16); /* 10px */

	border: 1px solid var(--clr-primary-green);
}

#input-btn,
#delete-btn {
	padding: calc(10rem / 16) /* 10px */ calc(20rem / 16); /* 20px */
 
	background-color: var(--clr-primary-green);
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin: calc(4rem / 16) 0;
	cursor: pointer;
}

#delete-btn {
	background-color: #fff;
	color: var(--clr-primary-green);
	border: 1px solid var(--clr-primary-green);
}

#input-el:focus, #input-el:hover,
#input-btn:focus, #input-btn:hover,
#delete-btn:focus, #delete-btn:hover {
	box-shadow: 0 0 .2rem var(--clr-primary-green);
}

#input-btn:active,
#delete-btn:active {
	transform: translateY(1px);
}

#nav-list {
	list-style: none;
	padding: 0;
}

.item-list {
	margin-top: calc(5rem / 16);
}

.link {
	color: var(--clr-primary-green);
}