* {
	box-sizing: border-box;
}

#page-wrap {
	font-family: Arial, Helvetica, sans-serif;
}

#input-el {
	min-width: 100%;
	padding: calc(10rem / 16);

	outline: none;
	border: none;
	border: 1px solid #577D3F;
}

#input-btn {
	border: none;
	outline: none;
	padding: calc(10rem / 16) calc(20rem / 16);
 
	background-color: #577D3F;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	margin: calc(4rem / 16) 0;
	cursor: pointer;
}

#input-el:focus,
#input-el:hover,
#input-btn:focus,
#input-btn:hover {
	box-shadow: 0 0 .2rem black;
}

#input-btn:active {
	transform: translateY(1px);
}